<header>
    <h1>Event Horizon: <%= activeEventType === 'fundraising' ? 'Fundraising Monitor' : 'Event Monitor' %></h1>
    <div class="status-container">
      Status: <span id="status" class="connecting">Connecting...</span>
    </div>
</header>